.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2rem;
    color: #FF5A00;
}

.relacao-de-milhas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contorno-quadro-milhas {
    width: 100%;
    height: 2.5rem;
    border: .5px solid black;
    border-radius: 5rem;
    z-index: 1;
    margin-bottom: 2rem;
}

.preenche-quadro-milhas {
    margin-bottom: 2rem;
    height: 2.4rem;
    background-color: #5D3189;
    border: .5px solid black;
    border-radius: 5rem;
    z-index: 1;
}

.tabs-button {
    padding: 1rem;
    margin: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border: 2px solid #FF5A00;
    border-radius: 1rem;
    background-color: #fff;
}

.tabs-button:focus {
    background-color: #FF5A00;
    color: #fff;
    border: 2px solid #FF5A00;
    border-radius: 1rem;
    outline: 0;
}

.despesas{
    width:70%;
    height:60%;
}

.despesas-wrapper{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.etapas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.etapas {
    width: 68rem;
    height: auto;
}

.mesma-linha {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.mesma-linha h4 {
    margin: .2rem;
}

h4 {
    font-size: 1.5rem;
}

.mesma-linha h5 {
    margin: .2rem;
}

h5 {
    font-size: 1rem;
}

#terceiro{
    width: 100%;
    height: 40%;
}

.wrapper-boxes{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.botoes-gerencia-container {
    width: 90%;
    display: flex;

}

.botao-gerencia {
    width: 100%;
    padding: .5rem;
    margin-bottom: 1rem;
    /* margin-left: 2rem;
    margin-right: 2rem; */
    border: 2px solid #5D3189;
    background-color: #fff;
}

.botao-gerencia:focus {
    background-color: #5D3189;
    color: #fff;
    border: 2px solid #5D3189;
    outline: 0;
}

.box{
    margin-bottom: 1rem;
    width: 100%;
    border: 2px solid #FF5A00;
    border-radius: 20px;
    text-align: left;
    align-items: center;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
}

.title{
    font-weight: bold;
    font-size: 28px;
    color: #FF5A00;
    margin-left:2%;
    width: 40%;
    margin-right: 0%;
    margin-top: 5%;
}

.special-text{
    font-size: 24px;
    font-weight: bold;
    color: #5D3189;
}

.text{
    font-size: 20px;
    font-weight: regular;
}

.text-third{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto';
    text-align: center;
}

.bigger-text{
    font-size: 26px;
    font-weight: bold;
}

.wrapper{
    justify-content: space-between;
    display: flex;
    padding-left:2%;
    flex-direction: row;
}

.esquerda{
    margin-right: 5%;
    width: 20rem;
}

.esquerda-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.direita{
    width: 20rem;
    margin-left: 5%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin-top:-5%;
}

.button-wrapper{
    flex-direction: row;
    display: flex;
}




.adquirirMilhas{
    width: 100%;
    height: 70%;
    margin-top: 5%;
    margin-bottom: 10%;
}

.footer{
    margin-top:0%;
}

