.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.tabs-button {
    padding: 1rem;
    margin: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border: 2px solid #FF5A00;
    border-radius: 1rem;
    background-color: #fff;
}

.tabs-button:focus {
    background-color: #FF5A00;
    color: #fff;
    border: 2px solid #FF5A00;
    border-radius: 1rem;
    outline: 0;
}

h1 {
    font-size: 2rem;
    color: #FF5A00;
}